<div class="container card">
  <div class="page-header">
    <a routerLink="/">
      <img src="assets/icons/icon-home.png" alt="Ícone Home" class="icon">
    </a>
    <h1>/ Turmas</h1>
  </div>
  <button class="btn btn-new" (click)="createNewClassroom()">Adicionar Nova Turma</button>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nível</th>
          <th>Gênero</th>
          <th>Aulas/Semana</th>
          <th>Horário</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let classroom of paginatedClassrooms">
          <td>{{ classroom.id }}</td>
          <td>{{ classroom.nivel }}</td>
          <td>{{ classroom.genero }}</td>
          <td>{{ classroom.qtdAulasSemanais }}</td>
          <td>{{ classroom.horarioInicio }} - {{ classroom.horarioFim }}</td>
          <td class="action-buttons">
            <button class="btn btn-primary btn-sm" (click)="viewClassroomDetails(classroom.id!)">Ver Detalhes</button>
            <button class="btn btn-info btn-sm" (click)="editClassroom(classroom.id!)">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="deleteClassroom(classroom.id!)">Remover</button>
          </td>
        </tr>
        <tr *ngIf="classrooms.length === 0">
          <td colspan="6">Nenhuma turma encontrada.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-controls" *ngIf="totalPages > 1" style="margin-top: 20px;">
    <button (click)="prevPage()" [disabled]="page === 1" class="pagination-btn">Previous</button>
    <span *ngFor="let p of [].constructor(totalPages); let i = index">
      <button (click)="page = i + 1" [disabled]="page === (i + 1)" [ngClass]="{'active': page === (i + 1)}" class="pagination-btn">{{ i + 1 }}</button>
    </span>
    <button (click)="nextPage()" [disabled]="page === totalPages" class="pagination-btn">Next</button>
  </div>
</div>