<h2 mat-dialog-title>Detalhes do Aluno</h2>
<mat-dialog-content>
  <div class="student-details-grid">
    <div class="detail-item">
      <span class="label">CPF:</span>
      <span class="value">{{ student.cpf }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Nome:</span>
      <span class="value">{{ student.nome }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Gênero:</span>
      <span class="value">{{ student.genero }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Data de Nascimento:</span>
      <span class="value">{{ student.dataNasc | date:'dd/MM/yyyy' }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Email:</span>
      <span class="value">{{ student.email }}</span>
    </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeModal()">Fechar</button>
</mat-dialog-actions>  