<h2>Add Classroom</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input formControlName="id" placeholder="ID">
  <input formControlName="qtdAulasSemanais" placeholder="Classes/Week">
  <input formControlName="horarioInicio" placeholder="Start Time" type="time">
  <input formControlName="horarioFim" placeholder="End Time" type="time">
  <input formControlName="tamanho" placeholder="Size">
  <input formControlName="genero" placeholder="Gender">
  <input formControlName="nivel" placeholder="Level">
  <input formControlName="idModalidade" placeholder="Modality ID">
  <input formControlName="cpfInstrutor" placeholder="Instructor CPF">
  <button type="submit">Submit</button>
</form>